<div id="<%= dom_id friend %>">
<table class="table table-hover table-striped table-bordered">
  <tbody>
    <tr>
      <th scope="row">First name:</th>
      <td><%= friend.first_name %></td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
      <td><%= friend.last_name %></td>
    </tr>
    <tr>
      <th scope="row">Email:</th>
      <td colspan="2"><%= friend.email %></td>
    </tr>
    <tr>
      <th scope="row">Phone:</th>
      <td colspan="2"><%= friend.phone %></td>
    </tr>
    <tr>
      <th scope="row">Twitter:</th>
      <td colspan="2"><%= friend.twitter %></td>
    </tr>
    <tr>
      <th scope="row">User Id:</th>
      <td colspan="2"><%= friend.user_id %></td>
    </tr>
  </tbody>
</table>
</div>
